.navbar {
	display: none;
	padding: 1%;
	background-color: white;
	border-bottom: 0.5px solid #afafaf;
	font-size: 1rem;
	.navbar-brand {
		border-bottom: 1px solid $gradient-p2; 
		transition: 1s;
		&:hover {
			border-bottom: 1px solid $gradient-p1;
		}
	}

	.navbar-nav {
		padding-right: 20px;
		.nav-link {
			color: black;
			transition: 1s;
			&:hover {
				border-bottom: 1px solid $gradient-p2;
				margin-bottom: -1px;
			}
		}
	}
}

#contactMeButton {
	border: 1px solid $gradient-p2;
	margin-left: 10px
}