$white: white;
$gradient-p1: #84fab0;
$gradient-p2: #fc6767;


$landing-font: 'Doppio One';
$secondary-font: 'Varela Round', sans-serif;


$icon-size: 500%;

$padding: 5% 0 5% 0;

$container-width: 80%;

